<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">link</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
  <!-- login detail -->
  <div class="pull-right">
    <ul class="nav pull-right">
      <li><img src="../../assets/images/17004.png" style="width: 65px;height:65px;"></li>
      <ul style="list-style-type: none;">
          <li><small>Name: Sachtih Chathuranga</small></li>
          <li><small>ID: s/008</small></li>
          <li><small>Date:03-06-2019</small></li>
      </ul>
      <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b
            class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
          <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
          <li class="divider"></li>
          <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
</nav>
