<form class="form-inline">
    <div class="form-group mb-2">
        <label for="itemcode" class="sr-only">Item Code: </label>
        <select class="form-control" id="itemcode">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    <div class="form-group mb-2">
      <label for="itemname" class="sr-only">itemname</label>
      <input type="text" class="form-control" id="itemname" value="Item Name">
      <!-- readonly -->
    </div>
   
    <div class="form-group mx-sm-3 mb-2">
      <label for="qty" class="sr-only">Qty</label>
      <input type="text" class="form-control" id="" placeholder="qty">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Enter</button>
  </form>
  <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" colspan="2">Item Description</th>
          <th scope="col">Qty</th>
          <th scope="col">Rate</th>
          <th scope="col">Gross</th>
          <th scope="col">Discount</th>
          <th scope="col">Net</th>
    
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2">Anker milk powder 400g</td>
          <td>2</td>
          <td>Rs: 350</td>
          <td>Rs: 700</td>
          <td>0%</td>
          <td>Rs: 700</td>
        </tr>
        
      </tbody>
    </table>
    <!-- <div class="card">
    <div class="card-body">
      This is some text within a <b>bill</b> body.
    </div>
  </div> -->
<div class="row">

<div class="col-6">
    <form class="loyalty-form">
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm text-right">Customer ID:</label>
          <div class="col-sm-6">
            <input type="email" readonly class="form-control form-control-sm" id="colFormLabelSm" placeholder="00000">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm text-right">Customer Name:</label>
          <div class="col-sm-6">
            <input type="email" readonly class="form-control form-control-sm" id="colFormLabelSm" placeholder="customer name">
          </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm text-right">Card Type:</label>
            <div class="col-sm-6">
              <input type="email" readonly class="form-control form-control-sm" id="colFormLabelSm" placeholder="Gold">
            </div>
          </div>
      </form>
      <hr>
      <div class="card">
          <div class="card-body">
            <p>Start time:12:34:26  End Time:12:34:40</p>
            <p>A Privilage Member would have earned <span style="color:red;">7</span> points... <b>REGISTER NOW !!!</b></p>
          </div>
        </div>
  </div>
  <div class="col-6">
      <form class="bill-form">
          <div class="form-group row">
            <label for="grossAmt" class="col-sm-6 col-form-label-sm text-right">GROSS AMT:</label>
            <div class="col-sm-6">
              <input type="" class="form-control form-control-sm" id="" placeholder="00000">
            </div>
          </div>
          <div class="form-group row">
            <label for="billVal" class="col-sm-6 col-form-label-sm text-right">BILL VAL:</label>
            <div class="col-sm-6">
              <input type="" class="form-control form-control-sm" id="billVal" placeholder="00000">
            </div>
          </div>
          <div class="form-group row">
            <label for="billVal" class="col-sm-6 col-form-label-sm text-right">NET BILL VAL:</label>
            <div class="col-sm-6">
              <input type="" class="form-control form-control-sm" id="billVal" placeholder="00000">
            </div>
          </div>
          <hr style="border-top: 1px solid red;">
          <div class="form-group row">
            <label for="billVal" class="col-sm-6 col-form-label-sm text-right">CASH:</label>
            <div class="col-sm-6">
              <input type="" class="form-control form-control-sm" id="billVal" placeholder="00000">
            </div>
          </div>
          <div class="form-group row">
            <label for="billVal" class="col-sm-6 col-form-label-sm text-right">CHANGE:</label>
            <div class="col-sm-6">
              <input type="" class="form-control form-control-sm" id="billVal" placeholder="00000">
            </div>
          </div>
          <div class="form-group row">
            <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
          </div> 
        </form>
      
  </div>
</div>


