<!-- <form>
    <div class="form-group">
      <label for="customerid">Customer ID</label>
      <input type="text" class="form-control" id="customerid" placeholder="0000">
      <small id="detailsHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="customername">Customer Name</label>
        <input type="text" class="form-control" id="customername" placeholder="Sachith">
        <small id="detailsHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
      </div>
      <div class="form-group">
          <label for="cardtype">Card Type</label>
          <input type="text" class="form-control" id="cardtype" placeholder="Gold">
          <small id="detailsHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
        </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" routerLink="/invoice" >Enter</button>
  </form> -->
  <app-profile-editor></app-profile-editor>